.container {
    margin: 50px;
    padding: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.container:hover {
    background: #ffffff;
    box-shadow: 5px 5px 10px #d4d4d4,
    -5px -5px 10px #ffffff;
}

.item-name {
    font-size: 20px;
}

.item-image {
    padding: 10px;
    object-fit: contain;
    height: 350px;
}

.select {
    margin: 10px;
}

.button {
    border-radius: 50px;
}